@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background: linear-gradient(245.59deg, #815ce7 0%, #4f2592 28.53%, #674ec2 75.52%);
     
}

html{
    overflow-x: hidden;    
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    transition:  0.9s ease;
}

header.sticky {
    height: calc(2.3rem + 1rem);
    background: rgba(0, 0, 0, 0.692);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.9s ease;
}

.logo{
    font-size: 20px;
    font-weight: 700;
    font-style: oblique;
    color: white;
    text-shadow: #323233 5px 4px;
    transition: all .55s ease;
}

.logo:hover {
    transform: translateX(10px);
    transition: all .55s ease;
}


.navlist{
    display: flex;
}

.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    
}

.navlist a:hover{
    border-bottom: 2px solid white; 
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 500;
    cursor: pointer;
    display: none;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10rem;
}

section {
    padding: 0 19%;
}

.hero-text h5 {
    font-size: 25px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;

}

.hero-text h1 {
    font-family: "Poetsen One", sans-serif;
    font-size: 80px;
    line-height: 1;
    color: white;
    text-shadow: #323233 10px 8px;
    margin: 0 0 45px;
}

.hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    font-style: oblique;
    color: rgb(233, 179, 30);    
}

.hero-text p {
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.hero-img img {
    width: 400px;
    height: auto;
}

.hero-text a {
    display: inline-block;
    color: white;
    background: #424242;
    border: 2px solid transparent;
    padding: 10px 60px;
    line-height: 1.8;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.hero-text a:hover {
    border: 1px solid white;
    transform: translateX(8px);
    background: #4242424d;
}

.hero-text a.ctaa {
    margin-left: 10px;
}

.hero-text a.ctaa i {
    vertical-align: middle;
    margin-right: 5px;
}

.icons {
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}

.icons #insta:hover {
    color: #f107e6;
    transform: translateY(-5px);
}

.icons #youtube:hover {
    color: #f72020;
    transform: translateY(-5px);
}

.icons #git:hover {
    color: #141414;
    transform: translateY(-5px);
}

.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 9%;
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #323233;
    border-radius: 30px;
    transition: all .50s ease;    
}

.scroll-down i:hover {
    transform: translateY(-5px);
}

.sobre {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.about-col-content h1 {
    font-size: 5vh;
    font-weight: 600;
    font-family: "Poetsen One", sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow: #323233 8px 9px;
}

.about-col-content p {
    padding: 0;
    margin: 20px auto;
    width: 500px;
    color: white;
    font-size: 15px;
    line-height: 1.8;
}

.about-img img{
    max-width: 300px;
    margin: 10px;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.atividades {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.actvit-col-content h1 {
    font-size: 5vh;
    font-weight: 600;
    font-family: "Poetsen One", sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow: #323233 8px 9px;
}

.actvit-col-content p {
    padding: 0;
    margin: 20px auto;
    width: 500px;
    color: white;
    font-size: 15px;
    line-height: 1.8;
}

.act-img img {
    max-width: 300px;
    margin: 10px;
}

@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}

@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1340px){
    .hero-img img{
        width: 100%;
        height: auto;
    } 
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 25px;
    }

}
@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width: 560px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }

}
@media (max-width: 990px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 90%;
        right: -50%;
        width: 200px;
        height: 25vh;
        z-index: 100;
        background: #323233;
        border-radius: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 40px 10px;
        transition: all .55s ease;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 5px 0;
    }

    .navlist.open{
        right: 0;
    }

    .act-img img{
        width: 100%;
        height: auto;   
    }

    .logo{
    font-size: 15px;
    }

}

@media (max-width: 680px){
    .hero-img img{
        width: 100%;
        height: auto;
    }

    .footer-contacts{
        display: flex;
        text-align: center;
        justify-content: center; 
        margin-top: 20px;
        height: 3px;
    }


}


.contacts h4{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    font-family: "Poetsen One", sans-serif; 
    color: white;
    text-shadow: #323233 8px 9px;
}

.footer-contacts{
    display: flex;
    text-align: center;
    justify-content: center; 
    margin-top: 20px;
    height: 2px;
}

.footer-contacts i{
    display: flex;
    padding: 30px; 
    font-size: 25px;
    color: white;
    transition: all .50s ease;  
}

.footer-contacts i:hover{
    transform: translateY(-5px);
}

.footer-contacts .ri-youtube-fill:hover {
    color: rgb(255, 24, 24);
}

.footer-contacts .ri-instagram-line:hover {
    color: rgb(247, 72, 247);
}

.footer-contacts .ri-github-fill:hover {
    color: #141414;
}

::-webkit-scrollbar-track {
    background-color: #540aa8;
}
::-webkit-scrollbar {
    width: 10px;
    background: #6007c5;
}
::-webkit-scrollbar-thumb {
    background: #7a7979;
    border-radius: 5px;
}